<simple-app-header [header]="headerModel" (onCloseBtnClick)="dismissModal()"></simple-app-header>

<ion-content padding>
  <ion-list>
    <ion-searchbar class="custom-searchbar" placeholder="Suche" [(ngModel)]="searchProduct"></ion-searchbar>
    <ion-item *ngFor="let item of possibleProducts | fullTextSearch:searchProduct:'product':'name'">
      <ion-label>{{item.product?.name}}</ion-label>
      <ion-checkbox [(ngModel)]="item.checked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col class="center">
      <button ion-button (click)="addProducts()">Add</button>
    </ion-col>
  </ion-row>
</ion-content>