<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content padding>
  <ion-item *ngFor="let groceryList of groceryLists" (click)="openGroceryList(groceryList)">
    <h2>{{groceryList.name}}</h2>
    <p>{{groceryList.date | date:"MM/dd/yyyy"}}</p>
    <label item-right>{{getCheckedProductsNumber(groceryList.products)}}</label>
    <ion-buttons item-right>
      <button ion-fab clear (click)="removeGroceryList(groceryList)" color="bluedark" class="list-item-button">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button *ngIf="groceryList.acceptedBy != undefined" ion-fab clear class="list-item-button grocery-accepted">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
</ion-content>

<ion-fab right bottom>
  <button ion-fab (click)="createGroceryList()" color="bluedark">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>