<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let groceryList of groceryLists" (click)="openGroceryList(groceryList)">
      <h2>{{groceryList.name}}</h2>
      <p>{{groceryList.date | date:"MM/dd/yyyy"}}</p>
      <label class="complete-number">{{groceryList.products | checkedProducts}}</label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-fab right bottom>
  <button ion-fab (click)="createGroceryList()" color="bluedark">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>