<ion-split-pane>
    <ion-menu [content]="content" *ngIf="pages?.length > 0">
        <ion-content padding>
            <ion-list>
                <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                    <ion-icon name="{{p.icon}}" item-start></ion-icon>
                    <ion-badge *ngIf="p.badgeRight" color="{{p.badgeColor}}" item-end>{{p.badgeValue}}</ion-badge>
                    {{p.title}}
                </button>

            </ion-list>
        </ion-content>

        <!-- <ion-footer>
            Version: {{versionString}}
        </ion-footer> -->
    </ion-menu>

    <ion-nav id="nav" [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>