<simple-app-header [header]="headerModel" (onCloseBtnClick)="dismissModal()"></simple-app-header>

<ion-content padding>
  <ion-item>
    <ion-label>Title:</ion-label>
    <ion-input [(ngModel)]="recipe.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Description:</ion-label>
    <ion-textarea [(ngModel)]="recipe.description" rows="4"></ion-textarea>
  </ion-item>
  <ion-item (click)="loadIngredientsSelect()">
    <ion-label class="label-auto">Ingredients:</ion-label>
    <ion-label>{{ingredientsLabel}}</ion-label>
  </ion-item>

  <ion-row>
    <ion-col class="center">
      <button ion-button (click)="editRecipe()">Save</button>
    </ion-col>
  </ion-row>
</ion-content>