<simple-app-header [header]="headerModel" (onSaveBtnClick)="acceptGroceryList()"></simple-app-header>

<ion-content padding>
  <ion-item *ngIf="groceryList.acceptedBy != undefined">
    <ion-label>Grocery list was accepted by {{groceryList.acceptedBy}}</ion-label>
  </ion-item>
  <ion-item *ngFor="let item of groceryList.products | groceryProductsOrder">
    <ion-label>{{item.product.name}}</ion-label>
    <ion-checkbox [(ngModel)]="item.checked" (ionChange)="checkProduct(item)"></ion-checkbox>
    <ion-label>{{item.product.weight}}</ion-label>
  </ion-item>
</ion-content>

<ion-fab right bottom>
  <button ion-fab (click)="addProduct()" color="bluedark">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>