<simple-app-header [header]="headerModel"></simple-app-header>

<ion-content padding>
  <p>{{recipe.description}}</p>
  <h2>Ingredients:</h2>
  <ion-list>
    <ion-item *ngFor="let product of recipe.products">
      <p>{{product.name}}</p>
      <p>{{product.weight}}</p>
      <p>{{product.available}}</p>
    </ion-item>
  </ion-list>
  <h2>Notes:</h2>
  <div id="note-scroll">
    <ion-item *ngFor="let note of recipe.notes">
      <p>{{note.text}}</p>
      <p>{{note.date | date:"MM/dd/yyyy HH:mm"}}</p>
    </ion-item>
  </div>
  <div class="message-form">
    <ion-textarea rows="1" [(ngModel)]="myNote" placeholder="Add note"></ion-textarea>
    <button ion-button secondary (click)="addNote()">
        <ion-icon ios="md-arrow-forward" md="md-arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>