<simple-app-header [header]="headerModel" (onCloseBtnClick)="dismissModal()"></simple-app-header>

<ion-content padding>
  <ion-item>
    <ion-label class="label-auto">Name:</ion-label>
    <ion-select [(ngModel)]="selectedProductId" multiple="false" cancelText="Cancel" okText="Ok">
      <ion-option value="{{product.id}}" *ngFor="let product of possibleProducts">{{product.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label class="label-auto">Weight:</ion-label>
    <ion-label>{{myProduct.weight}}</ion-label>
  </ion-item>


  <ion-row>
    <ion-col class="center">
      <button ion-button (click)="addProduct($event)">Add</button>
    </ion-col>
  </ion-row>
</ion-content>